[submodule "micropython"]
	path = micropython
	url = https://github.com/NiHoffmann/micropython
[submodule "ORB-Firmware"]
	path = ORB-Firmware
	url = https://github.com/NiHoffmann/ORB-Firmware
[submodule "ORB-Application"]
	path = ORB-Application
	url = https://github.com/NiHoffmann/ORB-Application
